NET "oled_0_AXI_OLED_pin[5]" IOSTANDARD = LVCMOS33;
NET "oled_0_AXI_OLED_pin[4]" IOSTANDARD = LVCMOS33;
NET "oled_0_AXI_OLED_pin[3]" IOSTANDARD = LVCMOS33;
NET "oled_0_AXI_OLED_pin[2]" IOSTANDARD = LVCMOS33;
NET "oled_0_AXI_OLED_pin[1]" IOSTANDARD = LVCMOS33;
NET "oled_0_AXI_OLED_pin[0]" IOSTANDARD = LVCMOS33;
NET "oled_0_AXI_OLED_pin[0]" LOC = U10;
NET "oled_0_AXI_OLED_pin[1]" LOC = U9;
NET "oled_0_AXI_OLED_pin[2]" LOC = AB12;
NET "oled_0_AXI_OLED_pin[3]" LOC = AA12;
NET "oled_0_AXI_OLED_pin[4]" LOC = U11;
NET "oled_0_AXI_OLED_pin[5]" LOC = U12;
